/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2 {
    border-bottom: 1px dotted darkgrey;

}


h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {

	max-width: 100%;

}

/* =================================
  Base Layout Styles
==================================== */

.headline {
    margin-bottom: 0;
}

.name {
    font-size: 1.6em;
    margin: 0;
    color: black;
    margin-bottom: 1em;
    margin-top: 1em;
}
.logo {
    padding-top: 50px;
    border-radius: 20px;

}

.main-nav a {
    display: block;
    color: black;
    padding: 0.5em;
}

.main-header {
    background-color: white;
    margin-bottom:  2em;
    text-align: center;

}

.banner {
    height: 400px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: lightblue;
    margin-bottom: 50px;
}

.main-footer {
    text-align: center;
    background-color: lightgrey;
    padding: 2em 0;
    margin-top: 50px;

}

/* ---- Layout Containers ---- */

.col {
    padding-left: 1em;
    padding-right: 1em;
}

.container {
     padding-left: 1em;
    padding-right: 1em;

}

/* ---- Page Elements ---- */

/* ---- form ---- */

form {
    background: lightblue;
    padding: 10px 20px;
    margin: 10px auto;
    max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-size: 20px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    padding-top: 10px;

}

textarea {
    max-width: 100%

}

label {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;

}

.question {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}



button {
    padding: 30px;
    text-align: center;
    width: 100%;
    background: grey;
    margin-top: 20px;
    margin-bottom: 20px;

}
textarea:focus, input:focus {
	border: 2px solid lightblue;
}



