/* =================================
  Base Element Styles
==================================== */



.bullets::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: coral;
    margin: 0 10px;
}

.bullets::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: coral;
    margin: 0 10px;
}

a:visited:before {
   content:  "\2713 ";
}

* {
	box-sizing: border-box;
}

body {
    padding-top: 63.2188px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

#test {
    flex: 1;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2 {
    text-align: center;
}

h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
    max-width: 100%;

}

.main-footer span:not(:last-child) {
    border-right: 1px solid black;
    padding: 0px 10px;
}

.main-footer span:last-child {
    padding: 0px 10px;
}

.logo {
    max-height: 600px;

}











/* =================================
  Base Layout Styles
==================================== */

/* ---- photography ---- */



/* ---- JAVASCRIPT OVERLAY ---- */

 #overlay {
  background:rgba(0,0,0,0.7);
  width: 100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right: 0;
  display: none;
  text-align: center;
}

 #overlay img {
  margin-top:50px;
   max-height: 400px ;

}

#overlay p {
  color:white;
}




/* ---- portfolios ---- */

.portfolio-work {
    text-align: center;
    margin-top: 50px;
}



.headline {
    margin-bottom: 0;
}

.main-nav {
    margin: 5px 0px;
}

.main-nav a {
    display: block;
    padding: 5px 5px;
}

.main-header {
    background-color: white;

    text-align: center;
    display: none;

}

.banner {
    height: 450px;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: skyblue;
    margin-bottom: 100px;
}

.photography , .uni , .professional , .contact {
    margin-bottom: 20px;
    


}

.main-footer {
    text-align: center;
    background-color: lightgrey;
    padding: 2em 0;
    margin-top: 100px;







}

/* ---- Layout Containers ---- */

.col {
    
    text-align: center;
    /*
    padding-left: 1em;
    padding-right: 1em;
    */
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;

}

/* ---- Page Elements ---- */

.img-interests {
        width: 150px;
        height: 150px;
    }

.faye {
    max-width: 200px;
    border-radius: 50px;
}

.about {
    margin-bottom: 50px;
}

.myinterests {
    margin-bottom: 40px;
}

/* ---- psuedo styling a PLACEHOLDERS ---- */

a {
    color: skyblue;
}

a:link {

}

a:visited {

}

a:hover {
   color: deepskyblue;
}

a:active {
    text-decoration: underline;
}

a:focus {

}



/* ---- COLLAGEPLUS ---- */

.Collage{

    /* define how much padding you want in between your images */
    padding:5px;

    }

.Collage img a{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;




    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }


/* ---- form ---- */

form {
    background: lightblue;
    padding: 10px 20px;
    margin: 50px auto;
    max-width: 100%;
    height: 800px;
    border-radius: 15px 15px;
}



input[type="checkbox"]:checked + label {
    font-size: 1.3em;

    color: deepskyblue;




}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
}

input[type="checkbox"] {
      transform:scale(2.0, 2.0);
    }

input[type="checkbox"] {
    padding-top: 10px;

}

textarea {
    max-width: 100%

}

label {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;

}

.question {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}



button {
    padding: 15px;
    text-align: center;
    width: 100%;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
textarea:focus, input:focus {
	border: 2px solid lightblue;
}



.thanks {
    padding: 10px 20px;
    margin: 50px auto;


    text-align: center;
}


/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 500px) {


    .img-interests {
        width: 200px;
        height: 200px;
    }

    .col {
        width: 50%;
        float: left;
        padding-left: 1em;
        padding-right: 1em;
    }

}

@media (min-width: 769px) {
    



    #ajax img {
    width: 33%;
    float: left;

}

    .photography, .uni, .professional {
        width: 33.3%;

    }

     .interests {
        text-align: center;
    }

     .contact {
        float: none;
        margin: 0 auto;
        max-width: 40%;

    }





/*
.one {
    border-right: 2px solid lightblue;
}

.two {
    border-left: 2px solid lightblue;
}

.three {
    border-top: 4px solid lightblue;
}
*/
     #overlay img {
   max-height: 500px ;
}

   /* ---- Nav for larger screens ---- */

    .main-header {
  position: fixed;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  width: 100%;
  top: 0;
}
    .name {
        float:left;
        margin: 0;
}

    .slicknav_menu {
        display: none;
    }

    .main-header {
        display: block;
        padding: 10px 0;
    }

    .main-nav {
        float:right;
        text-transform: uppercase;
    }

    .main-nav li {
        float: left;
        display: inline-block;
        margin-left: 10px;
}



    /* ---- page layout and elements ---- */

    .container {
        margin: 0 auto;
        max-width: 90%;
    }



    .about {
        text-align: center;
    }

    .thanks {
        width: 50%;
        float: left;
    }

    form {
        width: 50%;

        float: left;

    }








}

@media (min-width: 1100px) {

    #overlay img {
   max-height: 900px ;

}

    .main-nav li {
        margin-left: 40px;
    }


    .container {
        max-width: 1150px;
        width: 80%;
    }

    .img-interests {
        width: 300px;
        height: 250px;
    }









}




